body, html {
  padding: 0;
}

ul.nav li {
  height: 10px;
  text-align: center;
}

nav li.active > a {
  color: #fff;
}

nav li:not(.active) > a {
  color: #fcbc7c;
}

.navbar{
  background:#ac401c;
  margin-bottom: 0;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 3;
  color: #fcbc7c;
  font-weight: bolder;
  height: 40px;
}


