form {
  margin-top: 17%;
  padding: 10px 15px;
  width: 310px;
  min-height: 310px;
}

.desktop-form {
  float: right;
  margin-right: 18%;
}

canvas {
  padding: 5px;
  margin: 17% 0;
}

.desktop-canvas {
  float: left;
  margin-left: 15%;
}

form .form-group {
  margin: 15px 0;

}

form button {
  margin-top: 30px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
}

.btn.btn-signin {
  background: rgb(233, 73, 57);
}

.btn-block {
  width: 150px;
  background: rgb(233, 73, 57);
  text-align: center;
  border-color: #ac401c;
  margin-top: auto;
}

.btn-block:hover, .btn-block:active, .btn-block:focus {
  background: rgba(233, 73, 57,0.5);
  border-color: #ac401c;
}

.btn-lg{
  padding: 0rem;
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: white;
  background-color: rgb(233, 73, 57) ;
  border-color: #ac401c;
}

.btn-primary:focus, .form-control:focus{
  box-shadow: 0 0 0 0.2rem rgba(254, 255, 0, 0.25);
}

form input[type=text], form select {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  border-radius: 5px;
  background: #ffc10799;
  color: white;


}


form input[type=text]:hover, form input[type=text]:active, form input[type=text]:focus {
  border-color: #ac401c;
  background: #ffc10799;
  color: white;

}

.form-group {
  margin-bottom: 0;
}

/*radioButtons*/
label.radio {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
  font-weight: bolder;
  color: white;
}

input[type=radio] {
  display: none;
}

label.radio:before {
  content: "";
  display: inline-block;

  width: 16px;
  height: 16px;

  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #ffc10799;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

label.radio:before {
  border-radius: 8px;
}

input[type=radio]:checked + label.radio:before {
  content: "\2022";
  color: rgb(233, 73, 57);
  font-size: 30px;
  text-align: center;
  line-height: 18px;
}

.alert {
  padding: .5rem;
  margin: 0.5rem;
  text-align: center;
}
