
html {
  background-image: url("https://s1.1zoom.ru/b5050/552/Christmas_Holidays_Wood_511493_2560x1440.jpg");
}

body{
  background-color: transparent !important;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 50px auto 0 auto;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.flex-g-center {
  display: flex;
  justify-content: center;
}

.block {
  background: rgba(131, 72, 64, 0.67);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: black 0 5px 10px;
}
